[Unit]
Description=Prometheus Xen Exporter
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/sysconfig/xen_exporter
ExecStart=/usr/bin/xen_exporter $OPTIONS
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
